@using System.Security.Claims
@inherits LayoutComponentBase
@inject NavigationManager _navManager
    
<RadzenLayout class="rz-shadow-3">
    <RadzenHeader>
        <div class="box">
            <RadzenSidebarToggle Click="@(() => sidebar1Expanded = !sidebar1Expanded)"/>
            <div>
                   @if (!_navManager.Uri.Contains("bv-199"))
                   {
                       <AuthorizeView>
                           <Authorized>
                               <RadzenProfileMenu>
                                   <Template>
                                       <div class="box">
                                           <h3 >
                                               @context.User.Claims.FirstOrDefault(x=>x.Type == ClaimTypes.Surname)?.Value
                                           </h3>
                                           <RadzenGravatar Email="user@example.com">
                                           </RadzenGravatar>
                                       </div>
                                   </Template>
                                   <ChildContent>
                                       <RadzenProfileMenuItem Text="Logout" Path="logout" Icon="announcement"></RadzenProfileMenuItem>
                                   </ChildContent>
                               </RadzenProfileMenu>
                           </Authorized>
                       </AuthorizeView>
                   }
            </div>
        </div>

    </RadzenHeader>
   @if (!_navManager.Uri.Contains("bv-199"))
   {
       <RadzenSidebar @bind-Expanded="@sidebar1Expanded">

           <AuthorizeView>
               <Authorized>
                   <RadzenPanelMenu>
                       <Menu></Menu>
                   </RadzenPanelMenu>
               </Authorized>
               <NotAuthorized>
               </NotAuthorized>
           </AuthorizeView>

       </RadzenSidebar>
   }

   <RadzenBody Style="transform: none !important;">
        @Body
       @* <ErrorBoundary> *@
       @*     <ChildContent> *@
       @*           @Body *@
       @*     </ChildContent> *@
       @*     <ErrorContent> *@
       @*           @Body *@
       @*     </ErrorContent> *@
       @* </ErrorBoundary> *@
    
   </RadzenBody>
   
    <RadzenFooter Style="display: none" >
        Footer
    </RadzenFooter>
</RadzenLayout>

<RadzenNotification Style="z-index: 9999"/>
<RadzenDialog/>
<RadzenTooltip/>


@code {
    bool sidebar1Expanded = true;
    bool sidebar2Expanded = true;
    bool sidebar3Expanded = true;
    bool sidebar4Expanded = true;
    bool sidebar5Expanded = true;
    bool sidebar6Expanded = true;


    // ErrorBoundary? boundary;
    //
    // protected override void OnParametersSet()
    // {
    //     boundary?.Recover();
    //     
    // }

}