@inherits BaseBlazorPage
@inject NavigationManager _navigationManager;
@inject IJSRuntime JS

<div style="display: flex;justify-content:left;gap: 10px">
    <RadzenButton Text="Download File" Click="async () => { await DownloadFile(); }" Icon="download"/>

    @if (Extension.Contains("pdf"))
    {
        <RadzenButton Text="Print" Icon="local_printshop" Click="async () => { await PrintFile(); }"/>
    }
</div>
<RZBR></RZBR>

@if (Extension.Contains("pdf"))
{
    <div style="position: relative">
            <iframe id="bv-199" src="@URL#toolbar=1" type="application/pdf"  style="width: 100%;height: 80vh;"></iframe>

           <div style="position: absolute;right: 1%;top: 0.6%;background-color: #323639;width: 165px;height: 43px">
                <img src="how-to-create-pdf-document.png" style="width: 100%;height: 100%"/>
            </div>
    </div>    
    
 
}