
<InputFile class="file-input" OnChange="async (e) => {await OnChangeFileAtEditModal(e);}" accept="image/png, image/jpeg, image/gif" id="@FileID" hidden/>
<label for="@FileID" class="file-label">Choose File</label>
<span id="file-chosen">@_fileStatus</span>

