@using DialogService = Radzen.DialogService
@using DialogOptions = Radzen.DialogOptions
@inject DialogService DialogService




@code{
    public async Task ShowModel()
    {
        var result = await DialogService.OpenAsync(Title, ds =>
            @<div style="overflow: hidden">
                @ChildContent
            </div> , new DialogOptions() {Width = Width,Height = Height,Style = Style
                       , ShowTitle = ShowTitle});
    }

    public void HideModel()
    {
        DialogService.Close();
    }

}