@page "/"
@attribute [Authorize]
@inject UserManagerService _userManagerService;

@using System.Web
@using WebClient.Service.Users


<h1>Well! Come</h1>
<h1>Well! Come</h1>
<h1>Well! Come</h1>
<h1>Well! Come</h1>
<h1>Well! Come</h1>
