@page "/index"
@attribute [Authorize]
@inject UserManagerService _userManagerService;
@inherits BaseBlazorPage

@using System.Web
@using WebClient.Service.Users


<div>
    <DateRangePicker   @bind-StartDate="StartDate" @bind-EndDate="EndDate"  Ranges="DateRanges" class="form-control form-control-md">
        
    </DateRangePicker>
</div>


