@page "/"
@page "/index"
  
@attribute [Authorize]
@inject UserManagerService _userManagerService;
@inherits BaseBlazorPage

@using System.Web
@using WebClient.Service.Users


<h1 style="color: red">Hello Index</h1>

