@page "/"
@page "/index"
  
@attribute [Authorize]
@inject UserManagerService _userManagerService;
@inherits BaseBlazorPage

@using System.Web
@using WebClient.Service.Users
@using Color = MudBlazor.Color
@using Variant = MudBlazor.Variant




@code {
	private bool _isOpen = false;

	public void ToggleOpen() => _isOpen = !_isOpen;

}


<h1 style="color: red">Hello Index</h1>

<MudAvatar Color="Color.Primary">M</MudAvatar>
<MudAlert Severity="Severity.Normal">The reactor type is RBMK-1000</MudAlert>
<MudAlert Severity="Severity.Info">The reactor was fired up successfully</MudAlert>



@code{
 
}